<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>com.jhssantiago.jdbcdaomaven.controller.Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Listar</servlet-name>
        <servlet-class>com.jhssantiago.jdbcdaomaven.controller.Listar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Teste</servlet-name>
        <servlet-class>com.jhssantiago.jdbcdaomaven.controller.Teste</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerXml</servlet-name>
        <servlet-class>com.jhssantiago.jdbcdaomaven.controller.ControllerXml</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarXml</servlet-name>
        <servlet-class>com.jhssantiago.jdbcdaomaven.controller.ListarXml</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deletar</servlet-name>
        <servlet-class>com.jhssantiago.jdbcdaomaven.controller.DeletarXml</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarXml</servlet-name>
        <servlet-class>com.jhssantiago.jdbcdaomaven.controller.EditarXml</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Listar</servlet-name>
        <url-pattern>/listar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Teste</servlet-name>
        <url-pattern>/teste</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerXml</servlet-name>
        <url-pattern>/controllerxml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarXml</servlet-name>
        <url-pattern>/listarxml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deletar</servlet-name>
        <url-pattern>/deletarxml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarXml</servlet-name>
        <url-pattern>/editarxml</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
